# id
snippet #
	#${1:id} {
		${2}
	}
# class
snippet .
	.${1:class} {
		${2}
	}
# tag
snippet <
	${1:tag} {
		${2}
	}
# attribute
snippet :
	${1:property}: ${2:value};
# cross-browser opacity
snippet opacity
	opacity: ${1:0.5};
	-moz-opacity: $1;
	filter:alpha(opacity=`$1 * 100`);
# cross-bowser border radius
snippet radius
	-webkit-border-radius: ${1:5px};
	-khtml-border-radius: $1;
	-moz-border-radius: $1;
	border-radius: $1;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;${2}
# cross-browser box shadow
snippet shadow box
	-webkit-box-shadow: ${1:5px} rgba(${2:150, 150, 150}, ${3:1}));
	-moz-box-shadow: $1 rgba($2, $3);
	box-shadow: $1 rgba($2, $3);
# text shadow
snippet shadow text
	text-shadow: ${1:4px} ${2:4px} ${3:2px} rgba(${4:150, 150, 150}, ${5:1});
# media queries
snippet mq Smartphones (portrait and lanscape)
	/* start Smartphones (portrait and landscape) */
	@media only screen and (min-width : 320px) and (max-width : 767px) {
		${1}
	}
	/* end Smartphones (portrait and landscape) */
snippet mq smartphones (landscape)
	/* start Smartphones (landscape) */
	@media only screen and (min-width : 320px) and (max-width : 767px) and (orientation: landscape){
		${1}
	}
	/* end Smartphones (landscape) */
snippet mq Smartphones (portrait)
	/* start Smartphones (portrait) */
	@media only screen and (min-width : 320px) and (max-width : 767px) and (orientation: portrait){
		${1}
	}
	/* end Smartphones (portrait) */
snippet mq Tablets (portrait and landscape)
	/* start Tablets (portrait and landscape) */
	@media only screen and (min-width : 768px) and (max-width : 1024px) {
		${1}
	}
	/* end Tablets (portrait and landscape) */
snippet mq Tablets (lanscape)
	/* start Tablets (landscape) */
	@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
		${1}
	}
	/* end Tablets (landscape) */
snippet mq Tablets (portrait)
	/* start Tablets (portrait) */
	@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
		${1}
	}
	/* end Tablets (portrait) */
snippet mq Displays (smaller)
	/* start Displays (smaller) */
	@media only screen and (min-width : 1025px) {
		${1}
	}
	/* end Displays (smaller) */
snippet mq Displays (larger)
	/* start Displays (larger) */
	@media only screen and (min-width : 1280px) {
		${1}
	}
	/* end Displays (larger) */
snippet § Section
	/* start ${1:name} */
	${2} {
	}
	/* end $1 */
snippet @ @media (nested)
	@media ${1:statements} {
		${2}
	}
snippet @ @keyframes (nested)
	@keyframes ${1:name} {
		${2}
	}
snippet @ @font-face (nested)
	@font-face {
		font-family: '${1:name}';
		src: url('${2:filename}') format('${3:format}')${4};
	}
snippet @ @supports (nested)
	@supports (${1:property: value}) {
		${2}
	}
snippet @ @document (nested)
	@document ${1:statements} {
		${2}
	}
snippet @ @page (nested)
	@page :${1:first|left|right} {
		${2}
	}
snippet @ @namespace (regular)
	@namespace ${1:statement};
snippet @ @import (regular)
	@import '${1:filename}';
snippet @ @charset (regular)
	@charset '${1:charset}';
snippet $
	$${1:variable}: ${2:value};
snippet @imp
	@import '${1}';
snippet @mix
	@mixin ${1:name} {
		${2}
	}
snippet @inc
	@include ${1:mixin};
snippet @ext
	@extend ${1:rule};
snippet @fun
	@function ${1:name}(${2:args}) {
		${3}
	}
snippet @if
	@if ${1:condition} {
		${2}
	}
snippet @ife
	@if ${1:condition} {
		${2}
	} @else {
		${3}
	}
snippet @eif
	@else if ${1:condition} {
		${2}
	}
snippet @for
	@for ${1:$i} from ${2:1} through ${3:3} {
		${4}
	}
snippet @each
	@each ${1:$item} in ${2:items} {
		${3}
	}
snippet @while
	@while ${1:$i} ${2:>} ${3:0} {
		${4}
	}
