# id
snippet #
	#${1:id} {
		${2}
	}
# class
snippet .
	.${1:class} {
		${2}
	}
# tag
snippet <
	${1:tag} {
		${2}
	}
# attribute
snippet :
	${1:property}: ${2:value};
# cross-browser opacity
snippet opacity
	opacity: ${1:0.5};
	-moz-opacity: $1;
	filter:alpha(opacity=`$1 * 100`);
# cross-bowser border radius
snippet radius
	-webkit-border-radius: ${1:5px};
	-khtml-border-radius: $1;
	-moz-border-radius: $1;
	border-radius: $1;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;${2}
# cross-browser box shadow
snippet shadow box
	-webkit-box-shadow: ${1:5px} rgba(${2:150, 150, 150}, ${3:1}));
	-moz-box-shadow: $1 rgba($2, $3);
	box-shadow: $1 rgba($2, $3);
# text shadow
snippet shadow text
	text-shadow: ${1:4px} ${2:4px} ${3:2px} rgba(${4:150, 150, 150}, ${5:1});
# media queries
snippet mq Smartphones (portrait and lanscape)
	/* start Smartphones (portrait and landscape) */
	@media only screen and (min-width : 320px) and (max-width : 767px) {
		${1}
	}
	/* end Smartphones (portrait and landscape) */
snippet mq smartphones (landscape)
	/* start Smartphones (landscape) */
	@media only screen and (min-width : 320px) and (max-width : 767px) and (orientation: landscape){
		${1}
	}
	/* end Smartphones (landscape) */
snippet mq Smartphones (portrait)
	/* start Smartphones (portrait) */
	@media only screen and (min-width : 320px) and (max-width : 767px) and (orientation: portrait){
		${1}
	}
	/* end Smartphones (portrait) */
snippet mq Tablets (portrait and landscape)
	/* start Tablets (portrait and landscape) */
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
		${1}
	}
	/* end Tablets (portrait and landscape) */
snippet mq Tablets (lanscape)
	/* start Tablets (landscape) */
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
		${1}
	}
	/* end Tablets (landscape) */
snippet mq Tablets (portrait)
	/* start Tablets (portrait) */
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
		${1}
	}
	/* end Tablets (portrait) */
snippet mq Displays (smaller)
	/* start Displays (smaller) */
	@media only screen and (min-width : 1025px) {
		${1}
	}
	/* end Displays (smaller) */
snippet mq Displays (larger)
	/* start Displays (larger) */
	@media only screen and (min-width : 1280px) {
		${1}
	}
	/* end Displays (larger) */
snippet § Section
	/* start ${1:name} */
	${2:selector} {
		${3}
	}
	/* end $1 */
# FIXME
# cross-browser vertical gradient
snippet gradient vertical
	/* vertical gradient from $1 to $2 */
	background-color: $1
	background-image: -webkit-gradient(linear, left top, left bottom, from(${1:#fff}), to(${2:#000})); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, $1, $2); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image: -moz-linear-gradient(top, $1, $2); /* FF3.6 */
	background-image: -ms-linear-gradient(top, $1, $2); /* IE10 */
	background-image: -o-linear-gradient(top, $1, $2); /* Opera 11.10+ */
	background-image: linear-gradient(to bottom, $1, $2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$1', EndColorStr='$2'); /* IE6-IE9 */${3}
# cross-browser radial gradient
snippet gradient radial
	/* radial gradient from $1 to $2 */
	background-color: $1;
	background-image: -moz-radial-gradient(${3:50%} ${4:50%} 90deg, circle closest-side, ${1:#fff}, ${2:#000}); /* FF3.6 */
	background-image: -webkit-gradient(radial, $3 $4, 0, $3 $4, 100, from($1), to($2)); /* Saf4+, Chrome */
	background-image: -o-radial-gradient($3 $4 90deg, circle closest-side, $1, $2); /* Someday Opera*/
	background-image: radial-gradient($3 $4 90deg, circle closest-side, $1, $2);
# ---
